<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OWO</title>
    {{style('https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css')}}
    {{style('style.css')}}
</head>
<body>
    <div id="app"></div>
    {{ script('/js/main.js') }}
    {{script('https://cdnjs.cloudflare.com/ajax/libs/three.js/100/three.min.js')}}
    {{script('https://cdn.jsdelivr.net/gh/tengbao/vanta@master/dist/vanta.globe.min.js')}}
    {{script('https://use.fontawesome.com/releases/v5.3.1/js/all.js')}}
</body>
</html>
