<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="csrf-token" content="{{csrfToken}}">
    <title>On Work Only</title>
    {{ style('vendor/bulma/css/bulma.min.css') }}
    {{ style('css/style.css') }}
    {{ style('css/app.css') }}
</head>
<body>
    <div id="app"></div>
    <!-- Only in three routes are this import -->
    <!-- TODO: import from component -->
    {{ script('https://cdnjs.cloudflare.com/ajax/libs/three.js/100/three.min.js') }}
    {{ script('vendor/vanta/js/vanta.globe.min.js') }}

    {{ script('vendor/font-awesome/js/all.min.js') }}

    {{ script('/js/main.js') }}
</body>
</html>
