@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

.padding-tittle {
  padding-top: 150px;
  padding-bottom: 150px;
}

.padding-subtittle {
  padding-top: 50px;
  padding-bottom: 50px;
}
